  <script type="text/javascript" charset="utf-8">
    var hospitals;
  </script>
  
<div class="content">
  
  <span class="error">
    <p>¡No sabemos donde estás!</p>
    <p class="reload">Recarga y comparte tu localización ;)</p>
  </span>
  
  <span class="loader">
    <p>Obteniendo tu posición...</p>
  </span>
  
  <div class="box" id="box">
    <a class="greenButton" href="javascript:void refreshPosition()"><span>Busca hospitales cerca de tí</span></a>
  </div>
</div>

<script type="text/javascript" src="/javascripts/application.js"></script>
