
<div class="content">
  <div class="box">
    <a class="greenButton" href="#"><span>Busca hospitales cerca de tí</span></a>
  </div>

  <div class="box">
    <h3 class="hospitalName">Hospital Virgen del Rocío</h3>
    <p class="distance">760m / 3 mins en coche</p>
    <!-- <div id="map_canvas1"></div> -->
    <img class="map" src="http://maps.google.com/maps/api/staticmap?center=Berkeley,CA&zoom=8&size=240x150&sensor=false" />
    <a class="phoneButton" href="#"><span class="phone">902 932 231<span></a>
    <div class="address">
      <p>Avda. Manuel Siurot s/n,</br>
      41013, Sevilla, Sevilla</br>
      Hospital regional</p>
    </div>
  </div>
  <div class="box">
    <h3 class="hospitalName">Hospital Virgen del Rocío</h3>
    <p class="distance">760m / 3 mins en coche</p>
    <!-- <div id="map_canvas1"></div> -->
    <img class="map" src="http://maps.google.com/maps/api/staticmap?center=Berkeley,CA&zoom=8&size=240x150&sensor=false" />
    <a class="phoneButton" href="#"><span class="phone">902 932 231<span></a>
    <div class="address">
      <p>Avda. Manuel Siurot s/n,</br>
      41013, Sevilla, Sevilla</br>
      Hospital regional</p>
    </div>
  </div>
  <div class="box">
    <h3 class="hospitalName">Hospital Virgen del Rocío</h3>
    <p class="distance">760m / 3 mins en coche</p>
    <!-- <div id="map_canvas1"></div> -->
    <img class="map" src="http://maps.google.com/maps/api/staticmap?center=Berkeley,CA&zoom=8&size=240x150&sensor=false" />
    <a class="phoneButton" href="#"><span class="phone">902 932 231<span></a>
    <div class="address">
      <p>Avda. Manuel Siurot s/n,</br>
      41013, Sevilla, Sevilla</br>
      Hospital regional</p>
    </div>
  </div>
  <div class="box">
    <h3 class="hospitalName">Hospital Virgen del Rocío</h3>
    <p class="distance">760m / 3 mins en coche</p>
    <!-- <div id="map_canvas1"></div> -->
    <img class="map" src="http://maps.google.com/maps/api/staticmap?center=Berkeley,CA&zoom=8&size=240x150&sensor=false" />
    <a class="phoneButton" href="#"><span class="phone">902 932 231<span></a>
    <div class="address">
      <p>Avda. Manuel Siurot s/n,</br>
      41013, Sevilla, Sevilla</br>
      Hospital regional</p>
    </div>
  </div>      
</div>

<script type="text/javascript">
  var directionsService = new google.maps.DirectionsService();
  var hospital_position = new google.maps.LatLng(36.861999, -2.440701);
  var actual_position;
  
  window.onload = function(){
    if(navigator.geolocation){
      navigator.geolocation.getCurrentPosition(handleGetCurrentPosition, handleGetCurrentPositionError);
    }
    
    function handleGetCurrentPosition(location){
      actual_position = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);

      var request = {origin:actual_position, destination:hospital_position, travelMode: google.maps.DirectionsTravelMode.DRIVING};

      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          var steps = response.routes[0].legs[0].steps;
          console.log(steps);     
          var path = '';
          for (var i=0; i<steps.length; i++) {
            path += steps[i].path[0].lat().toFixed(4) + "," + steps[i].path[0].lng().toFixed(4) + '|';
          }
          path = path.substr(0,path.length-2);
          console.debug($('.map'));
          $('.map').attr('src',"http://maps.google.com/maps/api/staticmap?path=color:0xff0000ff|weight:5|"+path+"&size=240x150&sensor=false");
        }
      });      
    }
    
    function handleGetCurrentPositionError(location){
      alert('error');
    }
  }
</script>