
<div class="content">
  <div class="box">
    <a class="greenButton" href="#"><span>Busca hospitales cerca de tí</span></a>
  </div>

  <div class="box">
    <h3 class="hospitalName">Hospital Virgen del Rocío</h3>
    <p class="distance">760m / 3 mins en coche</p>
    <!-- <div id="map_canvas1"></div> -->
    <img class="map" src="http://maps.google.com/maps/api/staticmap?center=Berkeley,CA&zoom=8&size=240x150&sensor=false" />
    <a class="phoneButton" href="#"><span class="phone">902 932 231<span></a>
    <div class="address">
      <p>Avda. Manuel Siurot s/n,</br>
      41013, Sevilla, Sevilla</br>
      Hospital regional</p>
    </div>
  </div>
  <div class="box">
    <h3 class="hospitalName">Hospital Virgen del Rocío</h3>
    <p class="distance">760m / 3 mins en coche</p>
    <!-- <div id="map_canvas1"></div> -->
    <img class="map" src="http://maps.google.com/maps/api/staticmap?center=Berkeley,CA&zoom=8&size=240x150&sensor=false" />
    <a class="phoneButton" href="#"><span class="phone">902 932 231<span></a>
    <div class="address">
      <p>Avda. Manuel Siurot s/n,</br>
      41013, Sevilla, Sevilla</br>
      Hospital regional</p>
    </div>
  </div>
  <div class="box">
    <h3 class="hospitalName">Hospital Virgen del Rocío</h3>
    <p class="distance">760m / 3 mins en coche</p>
    <!-- <div id="map_canvas1"></div> -->
    <img class="map" src="http://maps.google.com/maps/api/staticmap?center=Berkeley,CA&zoom=8&size=240x150&sensor=false" />
    <a class="phoneButton" href="#"><span class="phone">902 932 231<span></a>
    <div class="address">
      <p>Avda. Manuel Siurot s/n,</br>
      41013, Sevilla, Sevilla</br>
      Hospital regional</p>
    </div>
  </div>
  <div class="box">
    <h3 class="hospitalName">Hospital Virgen del Rocío</h3>
    <p class="distance">760m / 3 mins en coche</p>
    <!-- <div id="map_canvas1"></div> -->
    <img class="map" src="http://maps.google.com/maps/api/staticmap?center=Berkeley,CA&zoom=8&size=240x150&sensor=false" />
    <a class="phoneButton" href="#"><span class="phone">902 932 231<span></a>
    <div class="address">
      <p>Avda. Manuel Siurot s/n,</br>
      41013, Sevilla, Sevilla</br>
      Hospital regional</p>
    </div>
  </div>      
</div>